.app-container {
  padding: 50px 0;
}

.table {
  position: relative;
  min-width: 700px;
  margin: 50px auto;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 10px;
  border: 1px solid grey;
  text-align: center;
}

.delete-btn {
  position: absolute;
  right: -80px;
  margin-top: 4px;
  padding: 5px;
}

.user-form {
  width: 360px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid grey;
  text-align: center;
}

.user-form__item {
  display: block;
  width: 200px;
  margin: 0 auto 10px;
  padding: 5px;
}

.user-form__field-name {
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

.user-form__input {
  display: block;
  padding: 10px;
  border: 1px solid grey;
}

.user-form__send-btn {
  margin: 30px auto;
  padding: 5px;
}

.user-form .error {
  border: 1px solid red;
}

.user-form .error-text{
  position: absolute;
  display: block;
  text-transform: none;
  color: red;
  font-size: 15px;
}
